.main-header {
  position: relative;
  background-color: @black;
  margin: 0;
  padding-bottom: 30px;
}

.main-header__nav {
  position: absolute;
  display: block;
  background-color: @black;
  border: 1px solid @white;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}  

.main-header__welcome {
  text-align: center;
}
/*
.main-header__text {
  text-align: center;
}*/